/**
 * @file
 * Olivero specific CSS overrides.
 */
/* 
body .sidebar-grid {
  & > .site-main {
    grid-column: 1 / 7;

    @media (--grid-md) {
      grid-column: 1 / 15;
    }

    @media (--lg) {
      display: grid;
      grid-template-columns: repeat(8, minmax(0, 1fr));
      grid-column: 3 / 11;

      & > .region--content-above,
      & > .region--content {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-column: 1 / 9;
      }

      & .layout--content-narrow,
      & .layout--pass--content-narrow > *,
      & .layout--content-medium,
      & .layout--pass--content-medium > * {
        grid-column: 1 / 9;
      }
    }
  }

  & .region--sidebar {
    grid-column: 1 / 7;

    @media (--grid-md) {
      grid-column: 3 / 13;
    }

    @media (--lg) {
      grid-column: 12 / 15;
    }
  }
} */

/* Back to top */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background: url(../images/backtotop.png) no-repeat center center;
  border: 0;
  cursor: pointer;
  height: 70px;
  width: 70px;
  text-indent: -9999px;
}

#btn-back-to-top:hover {
  opacity: 0.8;
}

#btn-back-to-top:focus {
  opacity: 0.6;
  outline: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #btn-back-to-top {
    background: url(../images/backtotop2x.png) no-repeat center center;
    background-size: 70px 70px;
  }
}

/* Language icons */
.language-switcher-language-url {
  margin-left: 2rem;
}
.is-active .language-switcher-language-url {
  margin-left: 0;
}
.language-switcher-language-url img {
  display: inline;
}
.language-switcher-language-url a {
  text-decoration: none;
}
.language-switcher-language-url ul {
  margin-left: 0.5em;
}
/* Hero homepage overrides */
.path-frontpage .region--hero {
  background-color: #eeeeee;
}
.region--hero {
  padding-bottom: 15px;
}
.region--hero .block-simple-blockheader-me {
  background-image: url(../images/fond_home.jpg);
  background-position: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.region--hero .block-simple-blockheader-me .img-thumbnail {
  width: 150px;
}
.region--hero .block-simple-blockheader-me h2,
.region--hero .block-simple-blockheader-me h3 {
  color: white;
}
.region--hero .block-simple-blockheader-me hr.codepen-light {
  color: white !important;
  margin: 35px auto 35px;
  padding: 0;
  max-width: 650px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}
.region--hero .block-simple-blockhire-me h4 {
  font-weight: normal;
}

/* Menu fix */
.menu a.is-active {
  color: #788287;
}

/* Main override */
.page-node-type-article .main-content__container {
  padding-top: 1rem !important;
}

@media (min-width: 43.75rem) {
  .page-node-type-article .main-content__container {
    padding-top: 1rem !important;
  }
}

.block-field-blocknodearticlefield-resources {
  margin-top: 1rem;
}

/* Sidebar overrides */
.block-simple-blockabout-me .block__content h4 {
  margin-bottom: 5px;
}
.block-simple-blockabout-me .block__content h5 {
  margin-top: 5px;
}

.region--sidebar .form-textarea {
  height: 150px;
}

/* Footer overrides */
.region--footer-top h4,
.region--footer-top h5 {
  color: #9ea0a1;
}

@media (min-width: 75rem) {
  .site-footer .site-footer__inner {
    padding-bottom: 3rem;
  }
}

/* Bootsrap copy */
.center-block {
  display: block !important;
  margin-right: auto;
  margin-left: auto;
}
.img-circle {
  border-radius: 50% !important;
}
.field--name-field-media-image img,
.img-thumbnail {
  padding: 4px;
  line-height: 1.4;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.list-inline-item {
  display: inline-block;
}

/* Global overrides */
address {
  font-style: normal !important;
}

/* Powered by overrides */
/* .block-system-powered-by-block .content > span > a {
  background: url(../images/drupal_9.png) no-repeat right center;
  background-size: 60px;
  line-height: 1.4em;
  padding: 26px 70px 26px 0;
  color: #fff;
  text-decoration: none;
} */

.text-content .gitlab-embed-snippets {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.text-content .gitlab-embed-snippets .snippet-file-content {
  margin: 0 !important;
}

.view-node-fields .b-lazy {
  max-width: 10%;
}
.view-node-fields .b-lazy.b-loaded {
  max-width: 100%;
}

#page pre[class*=language-]:after,
#page pre[class*=language-]:before {
  content: none;
}
#page pre[class*="language-"] {
  font-size: 14px;
}